.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    height: 62px;
    background-color: #273044;
    border-bottom: 8px solid #FF4560;

    text-align: center;
    font-family: Omnes;
    font-size: 17px;
    color: white;

    .nav-item {

    }
}